<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Config" value="TwitterJikkyo.Settings.Conffig.json" />
    <add key="Shortcuts" value="TwitterJikkyo.Settings.Shortcuts.json" />
    <add key="Hashtags" value="TwitterJikkyo.Settings.Hashtags.json" />
    <add key="CaptureWindowCollection" value="TwitterJikkyo.Settings.CaptureWindows.json" />
  </appSettings>
</configuration>