<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Config" value="WindowScreenshot.Settings.Conffig.json" />
    <add key="Shortcuts" value="WindowScreenshot.Settings.Shortcuts.json" />
    <add key="CaptureWindowCollection" value="WindowScreenshot.Settings.CaptureWindows.json" />
  </appSettings>
</configuration>